.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/*input*/
.search__input {
  width: 100%;
  margin-left: 0;
}

/*input clear buttn (user agent)*/
input[type='search' i]::-webkit-search-cancel-button {
  cursor: pointer;
  transform: translateX(-50px);
}

/* input button */
.search__icon {
  font-size: 3rem;
  position: absolute;
  right: 20px;
  bottom: 15px;
  cursor: pointer;
}

.search__icon:hover {
  color: #775078;
}
