.search__page {
  width: 70%;
}

.search__heading {
  /* height: 30vh; */
  padding: 10em 0 5em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search__results {
  width: 100%;
}

.results__title {
  margin-bottom: 10px;
}

.no__result {
  font-size: 3rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .search__page {
    width: 100%;
    padding: 2em;
  }
}
