.result {
  width: 100%;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;

  background: rgba(226, 207, 0, 0.745);
  margin: 2em 0;
  padding: 1.5em;
  transition: 0.3s ease;
}

/* thumbnail */
.result__thumbnail {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

/* info */
.result .result__info {
  flex: 2;
  padding-left: 1em;
  height: 100%;
}

.result .result__info a {
  color: #474747;
  transition: 0.3s ease;
}

.result:hover,
.result:hover a {
  background: #775078b2;
  color: white;
}

@media only screen and (max-width: 700px) {
  .result__info h3 {
    font-size: 1.6rem;
  }
}
