/* containers */
header {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.header__book__container {
  width: 40%;
  height: 100vh;
}

.header__book__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text */
.header__info {
  background: #f7e733;
  width: 60%;
  padding: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__info h2 {
  font-size: 2.3rem;
}

.header__info h1,
.header__info p {
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
  }

  .header__book__container {
    width: 100%;
    height: 70vh;
  }

  .header__info {
    background: #f7e733;
    width: 100%;
    padding: 1em 2em;
  }
}
