.library {
  position: fixed;
  top: 0px;
  left: 0;
  width: 60%;
  height: 100vh;
  overflow-y: scroll;
  background: #f7e733;
  z-index: 10;
  padding: 2em;
  transform: translateX(-100%);
  -ms-overflow-style: none; /*hide scrollbar for Internet Explorer, Edge */
  scrollbar-width: none; /*hide scrollbar for Firefox */
  overflow-y: scroll;
}

.library__active {
  transform: translateX(0);
}

.library::-webkit-scrollbar {
  display: none; /*hide scrollbar for Chrome, Safari, and Opera */
}

/*heading */
.library__heading,
.library__filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.library__heading svg {
  font-size: 3rem;
  cursor: pointer;
}

/*books*/
.library__items {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(3, auto);
  padding: 0 3em;
}
