.btn {
  cursor: pointer;
  padding: 1em;
  margin: 1em 1.5em 1em 0;
  border: none;
  background: #775078;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Mono', monospace,
    sans-serif;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.muted {
  border: 2px solid #775078;
  background: #7750781c;
  color: black;
  transition: 0.3s ease;
}

.btn:hover,
.muted:hover {
  transform: scale(1.1);
}
