.navigation {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
  z-index: 9;
  transition: 0.6s ease;
}

#logo {
  color: white;
}

/*menu items list*/
.nav__items {
  list-style: none;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__items li a,
.nav__items li a:visited {
  font-size: 3rem;
  color: #474747;
  cursor: pointer;
}

/*hovers*/
.nav__items li {
  transition: 0.4s ease;
}

.nav__items li a:hover {
  color: white;
}

.nav__items li:hover {
  transform: scale(1.05);
}

.navigation__scroll__active,
.navigation__scroll__active .nav__items li a:visited {
  background: #77507891;
  color: white;
}

.nav__items__hamburger {
  display: none;
}

@media only screen and (max-width: 700px) {
  .navigation {
    padding: 2em 0.5em;
    background: #775078;
  }

  #logo {
    font-size: 3rem;
  }

  .nav__items__hamburger {
    display: block;
    font-size: 4rem;
    margin-right: 0.3em;
    color: white;
  }

  .nav__items {
    display: none;
  }

  .nav__items__active {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 10vh;
    left: 0;
    overflow: hidden;
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 1;
    visibility: visible;
  }
}
