* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background: url(./background.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

/* boxed */
.content__section {
  width: 90%;
  margin: 0 auto;
}

.content__section__single {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography
  =============================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Mono', monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #474747;
}

h1 {
  font-size: 5rem;
  font-weight: medium;
}

h2 {
  font-size: 3.5rem;
  font-weight: medium;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

.btn-text,
a,
li {
  font-size: 2rem;
  text-decoration: none;
}

a:visited {
  text-decoration: none !important;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
