html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Mono', monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
